<body>
    <div id="wrapper">
        <div id="main">
            <div>
                <!--Navbar-->
                <div class="">
                    <nav class="navbar navbar-expand-lg navbar-expand-sm navbar-light">
                        <a class="logo" href="#">
                            <h3>Issue Tracking Tool</h3>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto li">
                                <li class="form-inline my-2 my-lg-0">

                                    <button [routerLink]="['/signup']" class="btn btn-success ml-auto" type="submit">SignUp</button>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <!--Login Form-->
                <div class="container parent-div">
                    <div class="row">
                        <div class="col-md-6 col-sm-8 col-xl-6 col-lg-6 col-10 login-div">

                            <h3>You have logged out Successfully!!!</h3>
                            <h3>Login again to continue..</h3>
                            <input type="submit" [routerLink]="['/login']" (click)="signInFunction()" class="btnSubmit"
                                value="Login">
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <footer>
        <h5>@Issue Traking Tool</h5>
    </footer>
</body>