<div class="container">
  <div class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand" href="#">Issue Tracking Tool</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

            </ul>
            <li class="form-inline my-2 my-lg-0">

                <button   class="btn btn-outline-success my-2 my-sm-0" type="submit">LogIn/SignUp</button>
            </li>
        </div>
    </nav>
</div>
<div class="col-md-12">
    Search for {{query}}
        <!--Angular Datatables -->
        <br><br>
        <table #dataTable class="display"  style="width:100%">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Title</th>
                    <th>Reporter</th>
                    <th>Date</th>
                     
                </tr>
            </thead>
            <tbody *ngFor='let issue of allIssueDetails | filter:query'>
                <tr>
                    <td>{{issue.status}} </td>
                    <td>{{issue.title}} </td>
                    <td> {{issue.reporterName}}</td>
                    <td> {{issue.createdOn | date}}</td>
                     
                </tr>
                 
             
            </tbody>
            
        </table>
            <!--End of DAtatables-->
      </div>

    
</div>