<div class="container-fluid">
  
  <!--main row-->
  <div class="row">
      <div class="nav-div">
          <nav class="nav flex-column">
              <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dashbordNavbar" aria-controls="dashbordNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button> -->
              <!-- <div class="collapse navbar-collapse" id="dashbordNavbar"> -->
                  <a class="nav-link active" href="#">Dashboard</a>
                  <a class="nav-link" href="#">Notification</a>
                  <a [routerLink]="['/login']" class="nav-link" href="#">Logout</a>
                   
              <!-- </div> -->
              
            </nav>
      </div>
      <div class="col">
          <br>
        <!--Second row-->
        <div class="row">
            <div class="col-md-10">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button [routerLink]="['/search']" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
            </div>
            <div>
                <button [routerLink]="['/issue']" type="button" class="btn btn-primary">Log New Issue</button>
            </div>
        </div><!--Second row ends-->
        <br>
        <br>
        <!--Third row-->
         <div class="row">
            <div class="col-md-12">
              <!--Angular Datatables -->
              <table #dataTable class="display" style="width:100%">
                  <thead>
                      <tr>
                          <th>Status</th>
                          <th>Title</th>
                          <th>Reporter</th>
                          <th>Date</th>
                           
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>Tiger Nixon</td>
                          <td>System Architect</td>
                          <td>Edinburgh</td>
                          <td>61</td>
                           
                      </tr>
                      <tr>
                          <td>Garrett Winters</td>
                          <td>Accountant</td>
                          <td>Tokyo</td>
                          <td>63</td>
                           
                      </tr>
                      <tr>
                          <td>Ashton Cox</td>
                          <td>Junior Technical Author</td>
                          <td>San Francisco</td>
                          <td>66</td>
                           
                      </tr>
                      <tr>
                          <td>Cedric Kelly</td>
                          <td>Senior Javascript Developer</td>
                          <td>Edinburgh</td>
                          <td>22</td>
                           
                      </tr>
                      <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                             
                        </tr>
                        <tr>
                            <td>Garrett Winters</td>
                            <td>Accountant</td>
                            <td>Tokyo</td>
                            <td>63</td>
                             
                        </tr>
                        <tr>
                            <td>Ashton Cox</td>
                            <td>Junior Technical Author</td>
                            <td>San Francisco</td>
                            <td>66</td>
                             
                        </tr>
                        <tr>
                            <td>Cedric Kelly</td>
                            <td>Senior Javascript Developer</td>
                            <td>Edinburgh</td>
                            <td>22</td>
                             
                        </tr>
                        <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                 
                            </tr>
                            <tr>
                                <td>Garrett Winters</td>
                                <td>Accountant</td>
                                <td>Tokyo</td>
                                <td>63</td>
                                 
                            </tr>
                            <tr>
                                <td>Ashton Cox</td>
                                <td>Junior Technical Author</td>
                                <td>San Francisco</td>
                                <td>66</td>
                                 
                            </tr>
                            <tr>
                                <td>Cedric Kelly</td>
                                <td>Senior Javascript Developer</td>
                                <td>Edinburgh</td>
                                <td>22</td>
                                 
                            </tr>
                            <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                     
                                </tr>
                                <tr>
                                    <td>Garrett Winters</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>63</td>
                                     
                                </tr>
                                <tr>
                                    <td>Ashton Cox</td>
                                    <td>Junior Technical Author</td>
                                    <td>San Francisco</td>
                                    <td>66</td>
                                     
                                </tr>
                                <tr>
                                    <td>Cedric Kelly</td>
                                    <td>Senior Javascript Developer</td>
                                    <td>Edinburgh</td>
                                    <td>22</td>
                                     
                                </tr>
                   
                  </tbody>
                  
              </table>
                  <!--End of DAtatables-->
            </div>
      
         </div><!-- Third row ends-->
           
          
      </div>
     
      
  </div><!--main row ends-->
  
  
  
</div>
