<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">Issue Tracking Tool</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

            </ul>
            <li class="form-inline my-2 my-lg-0">

                <button [routerLink]="['/login']" class="btn btn-outline-success my-2 my-sm-0" type="submit">LogIn/SignUp</button>
            </li>
        </div>
    </nav>
    <div class="container parent-div">
        <br><br><br><br>
        <div class="row">
            <div class="col-md-6 second-div">
                <h3>SignUp</h3>
                <form #signUpForm="ngForm"  >
                    <div class="form-group">
                        <input type="text" id="inputFirstName" class="form-control" #first="ngModel" [(ngModel)]="firstName" placeholder="firstName"
                            name="first" required autofocus>
                    </div>
                    <p [hidden]="first.valid || first.pristine" class="alert alert-danger">
                        Enter first name!
                    </p>
                    <div class="form-group">
                        <input type="text" id="lastName" class="form-control" #last="ngModel" [(ngModel)]="lastName" placeholder="lastName"
                            name="last" required>
                    </div>
                    <p [hidden]="last.valid || last.pristine" class="alert alert-danger">
                        Enter last name!
                    </p>
                    <div class="form-group">
                        <input type="email" id="inputEmail" class="form-control" #inputEmail="ngModel" [(ngModel)]="email" placeholder="your email"
                            name="email" required>
                    </div>
                    <p [hidden]="inputEmail.valid || inputEmail.pristine" class="alert alert-danger">
                        Enter email!
                    </p>
                    <div class="form-group">
                        <input type="number" id="inputMobileNumber" #mobile="ngModel" class="form-control" [(ngModel)]="mobileNumber"
                            placeholder="your mobile number" name="mobile" required>
                    </div>
                    <p [hidden]="mobile.valid || mobile.pristine" class="alert alert-danger">
                        Enter moble number!
                    </p>
                    <div class="form-group">
                        <input type="password" id="inputPassword" #inputPassword="ngModel" class="form-control" [(ngModel)]="password"
                            placeholder="your password" name="password" required>
                    </div>
                    <p [hidden]="inputPassword.valid || inputPassword.pristine" class="alert alert-danger">
                        Enter password!
                    </p>
                    <div class="form-group">
                        <input type="button"  (click)="signUpFunction()" class="btnSubmit" name="signup" value="Create account">
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>