<body>
  <div id="wrapper">
    <div id="main">
      <div>
        <div class="">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="logo" href="#">
              <h3 class="heading">Issue Tracking Tool</h3>
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="form-inline my-2 my-lg-0">
                  <user-details></user-details>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <!--Create Issue div-->
        <div class="container">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 form-div">
              <!--Create Issue Form -->
              <form #createIssueForm="ngForm">
                <h2 style="text-align:center;">Create a new Issue</h2>
                <div class="form-group">
                  <label for="InputIssueTitle">Issue Title</label>
                  <input
                    type="text"
                    id="inputTitle"
                    [(ngModel)]="title"
                    #inputTitle="ngModel"
                    name="title"
                    class="form-control"
                    placeholder="Enter isse title"
                    required
                    autofocus
                  />
                  <span
                    [hidden]="inputTitle.valid || inputTitle.pristine"
                    class="box-alert"
                  >
                    Title is required!
                  </span>
                </div>

                <div class="form-group">
                  <label for="InputDescription">Description of Issue</label>
                  <ckeditor
                    id="inputDescription"
                    [config]="{ extraPlugins: 'divarea' }"
                    [(ngModel)]="description"
                    #desc="ngModel"
                    name="description"
                    placeholder="Enter description"
                    required
                  ></ckeditor>
                  <span
                    [hidden]="desc.valid || desc.pristine"
                    class="box-alert"
                  >
                    Description is required!
                  </span>
                </div>

                <div class="form-group">
                  <label for="exampleFormControlSelect1">Assignee</label>
                  <select
                    (change)="selectUser(assignee)"
                    id="assigneeId"
                    [(ngModel)]="allAssignee"
                    #assig="ngModel"
                    name="assignee1"
                    class="form-control"
                  >
                    <option
                      *ngFor="let assignee of allAssignee"
                      [ngValue]="assignee"
                      >{{ assignee.name }}</option
                    >
                  </select>
                  <span
                    [hidden]="assig.valid || assig.pristine"
                    class="box-alert"
                  >
                    Select assignee!
                  </span>
                </div>

                <div class="form-group">
                  <label for="exampleFormControlSelect1">Status</label>
                  <select
                    (change)="selectStatus(currentStatus)"
                    name="status"
                    id="inputStatus"
                    [(ngModel)]="status"
                    #inputStatus="ngModel"
                    class="form-control"
                    required
                  >
                    <option
                      *ngFor="let currentStatus of status"
                      [ngValue]="currentStatus"
                      >{{ currentStatus }}</option
                    >
                  </select>
                  <span
                    [hidden]="inputStatus.valid || inputStatus.pristine"
                    class="box-alert"
                  >
                    Select status!
                  </span>
                </div>

                <div class="form-group">
                  <label for="FileInput">Attachments</label>
                  <input
                    type="file"
                    (change)="onSelected($event)"
                    name="files"
                    class="file-select"
                    multiple
                  />
                </div>

                <div class="form-group">
                  <button
                    (click)="onSubmit()"
                    type="submit"
                    class="btn btn-primary"
                  >
                    Create Issue
                  </button>
                </div>
                <div class="form-group">
                  <button
                    (click)="goBack()"
                    type="submit"
                    class="btn btn-secondary"
                  >
                    Back
                  </button>
                </div>
              </form>
              <!--Create Issue Form -->
            </div>
          </div>
        </div>
        <!--Create issue div ends-->
      </div>
    </div>
  </div>

  <footer>
    <h5>@Issue Traking Tool</h5>
  </footer>
</body>
