.parent-div{
    margin-top: 5%;
    margin-bottom: 1%;
    
}
 
.login-div{
    margin-top: 2%;
    margin-bottom: 1%;
    margin:auto;
    padding: 5%;
    background: #7FDBFF;
    box-shadow: 0 5px 8px 0 rgba(0,0,0, 0.2),0 9px 26px 0 rgba(0,0,0, 0.19);
}

.login-div h3{
    text-align: center;
    color: #333;
}

.box-alert{
    color:red;
}
 

.parent-div form{
    padding: 10%;
}

.btnSubmit{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border:none;
    cursor: pointer;
    margin-left:25%;
}

.login-div .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.login-div .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

