.parent-div {
  margin-top: 5%;
  margin-bottom: 1%;
}

.login-div {
  margin: 3rem auto;
  width: 50%;
  padding: 2rem 1rem;
  background: #7fdbff;
  border-radius: 4px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-div h3 {
  text-align: center;
  color: #333;
  margin: 0;
}

.box-alert {
  color: red;
}

.parent-div form {
  margin: 1rem;
}

.parent-div .form-control {
  border-radius: 17px;
}

.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  margin-left: 25%;
}

.login-div .btnSubmit {
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}

.login-div .btnSubmit {
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}

#main {
  overflow: auto;
  padding-bottom: 100px;
}

footer {
  position: relative;
  height: 50px;
  margin-top: -50px;
  clear: both;
  background-color: #3f5c7d;
}
footer,
p {
  text-align: center;
  color: white;
  padding: 5px;
}

@media screen and (max-width: 40rem) {
  .heading {
    font-size: 1.3rem;
    margin: 0;
  }
  .login-div {
    width: 95%;
    margin: 2rem auto;
    padding: 1rem 0;
  }
}
