
<div>
    <!--Navbar-->
    <div class="">
            <nav  class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                    <a class="navbar-brand" href="#">Issue Tracking Tool</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
            
                        </ul>
                        <li class="form-inline my-2 my-lg-0">
            
                            <button [routerLink]="['/login']" class="btn btn-outline-success my-2 my-sm-0" type="submit">LogIn/SignUp</button>
                        </li>
                    </div>
                </nav>
    </div>
        <!--Login and signup form-->   
        <div class="container parent-div">
                <div class="row">
                     
                     <div class="col-md-6 second-div">
                         <h3>LogIn</h3>
                         <form #logInForm="ngForm">
                           <div class="form-group">
                              <input type="email" id="inputEmail" [(ngModel)]="email" #emailInput="ngModel" class="form-control" placeholder="your email" name="email" required autofocus>
                           </div>
                           <p [hidden]="emailInput.valid || emailInput.pristine" class="alert alert-danger">
                               Enter email!
                           </p>
                           <div class="form-group">
                               <input type="password" id="inputPassword" #passwordInput="ngModel" [(ngModel)]="password" class="form-control" placeholder="your password" name="password" required>
                           </div>
                           <p [hidden]="passwordInput.valid || passwordInput.pristine" class="alert alert-danger">
                            Enter password!
                           </p>
                           <div class="form-group">
                               <input  type="submit"   (click)="signInFunction()" [disabled]="!logInForm.form.valid" class="btnSubmit" value="Login">
                           </div>
                         </form>
                     </div>
                </div>
           </div>

</div>

