/* You can add global styles to this file, and also import other style files */
#toast-container > div {
    opacity:1;
}

*{
    margin:0;
    padding:0;
}

html,body{
    height: 100%;
}

#wrapper{
  min-height:100%;
}



nav {
     background-color: #3f5c7d;
}

.logo{
    color:white;
    margin-left: 5%;
}


  
 