<nav class="navbar navbar-expand-lg navbar-light">
  <a class="logo" href="#">
    <h3 class="heading">Issue Tracking Tool</h3>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="form-inline my-2 my-lg-0">
        <user-details></user-details>
      </li>
    </ul>
  </div>
</nav>

<div class="search-details">
  <h3 class="search-details__heading">Search results for: {{ query }}</h3>
  <!--Angular Datatables -->
  <table #dataTable class="search-details__table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Title</th>
        <th>Reporter</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody *ngFor="let issue of allIssueDetails | filter: query">
      <tr class="table-row">
        <!-- <a> [routerLink]="['/issue-view', issue.issueId]" -->
        <a>
          <td>{{ issue.status }}</td>
        </a>
        <td>{{ issue.title }}</td>
        <td>{{ issue.reporterName }}</td>
        <td>{{ issue.createdOn | date }}</td>
      </tr>
    </tbody>
  </table>
  <!--End of DAtatables-->
</div>
